//- -------------- Home Page ---------------- -//
//- ----------------------------------------- -//

extends ../layout/layout


block append head
    link(href='css/home.css', rel='stylesheet', type='text/css')


block content
    include ../modules/ng-cities

    
block append footer-scripts
    script(src="js/ng-cities.js")