div.cities
    h1 A donde te gustaría ir?
    
    input(type="text", ng-model="newCity", placeholder="¿A qué ciudad?")
    input(type="text", ng-model="newCountry", placeholder="¿En qué país?")
    input(type="button", value="Agregar", ng-click='addCity()')